@import './reset';
@import '../node_modules/swiper/swiper.scss';


$color-gold: #D3B024;
$color-red: #BF0000;

$color-red-darken: #a80000;

* {
  box-sizing: border-box;
}

html {
  background-image: url(../images/pattern-white.png);
  color: white;
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.swiper-container {
  width: 800px;
  max-width: 80vw;
  height: 70vh;
  margin-bottom: 20px;
}

.swiper-slide {
  background-image: url(../images/pattern-darken.png);
  border: $color-gold 5px solid;
  border-radius: 18px 5px 5px 5px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 90%;
  height: 100%;
  box-shadow: 30px rgba(black, .8);
}

.swiper-slide-inner {
  border: darken($color-gold, 5%) 5px solid;
  border-radius: 5px;
  margin: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.square-img {
  width: 100%;
  flex: 1;
  margin-bottom: 20px;
  background-position: center center;
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba($color-red-darken, 0), rgba($color-red-darken, 1) 80%);
  }
}

.card {
  .card-title {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  .card-content {
    margin-bottom: 20px;
    text-align: center;
  }
  .card-badge {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: $color-red;
    border: 5px solid $color-gold;
    position: absolute;
    left: -6px;
    top: -6px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translate(-50%, -50%);
  }
  .card-subtitle {
    position: absolute;
    top: -5px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    background-color: $color-red;
    padding: 5px 10px;
    border: 3px solid $color-gold;
    z-index: 3;
  }
}

.btn {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  background-color: $color-red;
  box-shadow: 30px rgba(black, .8);
  color: white;
  border: 3px white solid;
  font-size: 20px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  span {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    border: 1px white solid;
    border-radius: 300px;
    border: 2px white solid;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 15px;
    background-image: linear-gradient(to top, rgba($color-red-darken, 0), rgba($color-red-darken, 1));
  }

  &:disabled {
    opacity: .6;
    cursor: default;
  }
}

.d-none {
  display: none;
}

.glory {
  background-image: url(../images/glory.png);
  width: 1500px;
  height: 1500px;
  position: absolute;
  top: -500px;
  left: 50%;
  transform: translateX(-50%);
  animation: rotate infinite linear 20s;
}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0);
  }
  to {
    transform: translateX(-50%) rotate(359deg);
  }
}